includes:
    - vendor/larastan/larastan/extension.neon
    - vendor/nesbot/carbon/extension.neon

parameters:

    paths:
        - app/
        - tests/
        - routes/
        - database/migrations/

#    excludePaths:
#        - app/Providers/TelescopeServiceProvider.php

    # Level 10 is the highest level
    level: 8

    scanFiles:
        - _ide_helper.php
        - .phpstorm.meta.php

#    ignoreErrors:
#        - '#Access to an undefined property Illuminate\\Contracts\\Auth\\Authenticatable#'
#        - '#PHPDoc tag @var#'
#
#    excludePaths:
#        - ./*/*/FileToBeExcluded.php
